{% extends "base/base.html" %}



{% block main_data %}

<div class="dashboard_container">
    <div class="dashboard_upper">
        <div class="dashboard_upper_one">hi</div>
        <div class="dashboard_upper_two">
            <div class="dashboard_upper_two_head">
                <div class="dashboard_upper_two_head_left">
                    <p>Data Information Worldwide</p>
                    <p>Ultimate Business Management Software</p>
                </div>
                <div class="dashboard_upper_two_head_right">
                    <a href="">Download Report</a>
                </div>
            </div>
            <div class="dashboard_upper_two_graph">
                <div class="dashboard_upper_two_graph_one">one</div>
                <div class="dashboard_upper_two_graph_two">two</div>
                <div class="dashboard_upper_two_graph_three">three</div>
            </div>
        </div>
    </div>
    <div class="dashboard_lower">
        <div class="dashboard_lower_one">
            <div class="dashboard_lower_one_top">
                <div class="dashboard_lower_one_top_one">one</div>
                <div class="dashboard_lower_one_top_two">two</div>
                <div class="dashboard_lower_one_top_three">three</div>
            </div>
            <div class="dashboard_lower_one_middle">
                <div class="dashboard_lower_one_middle_left">left</div>
                <div class="dashboard_lower_one_middle_right">right</div>
            </div>
            <div class="dashboard_lower_one_bottom">
                <div class="dashboard_lower_one_middle_left">left</div>
                <div class="dashboard_lower_one_middle_right">right</div>
            </div>
        </div>
        <div class="dashboard_lower_two">
            <div class="dashboard_lower_two_top">top</div>
            <div class="dashboard_lower_two_bottom">bottom</div>
        </div>
    </div>
</div>

{% endblock main_data %}