<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="searchbar">
            {% comment %} {% include "page_html/search_input.html" %}  {% endcomment %}
        </div>
        <div class="userdropdown">
            <div class="notification">
                {% include "page_html/notification_bell.html" %}
            </div>
            <div class="user_container">
                {% include "page_html/user.html" %} 
            </div>
        </div>
    </div>
</body>
</html>