{% extends "page_html/setting.html" %} {% block main_data %}
<div class="authentication_container">
  <div class="preferance_subheading">

    <h6>Authentication</h6>
    <div class="authentication_left">
      <div class="authentication_left_heading">
        <h6>Two-Factor-Authentication(2FA)</h6>
      </div>
      <div class="authentication_left_btn">
        <div class="authentication_btn">
          <button>Enable</button>
        </div>
      </div>
    </div>

    <h6>Accounts</h6>
    <div class="authentication_left">
      <div class="authentication_left_heading">
        <h6>Delete Account Data</h6>
      </div>
      <div class="authentication_left_btn">
        <div class="authentication_btn">
          <button class="account_delete_btn">Delete</button>
        </div>
      </div>
  </div>


  <div class="authentication_right">
    
  </div>
</div>
{% endblock main_data %}
