*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* variable */

:root{

    /* theame  */

    --theame1: linear-gradient(230deg, #759bff, #843cf6); /*  */
    --theame2:linear-gradient(230deg, #fc5286, #fbaaa2); /*  */
    --theame3: linear-gradient(230deg, #ffc480, #ff763b); /*  */
    --theame4: linear-gradient(230deg, #0e4cfd, #6a8eff); /* */
    /* --theame5:#F2F0EF; */
    /* --theame6:#759bff;
    --theame7:#fbaaa2;
    --theame8:#fc5286;
    --theame9:#6d6c6c;
    --body-color:#fff; */
    --theame5:#F2F0EF;
    --theame6:#8DBCC7;
    --theame7:#C4E1E6;
    --theame8:#A4CCD9;
    --theame9:#EBFFD8;
    --theame10:#fc5286;
    --body-color:#fff;
    /* --sidebar-color: #759bff; */
    /* --sidebar-hover-color: #fbaaa2; */
    /* --sidebar-toggle-color: #fbaaa2;
    --sidebar-toggle-hover-color: #759bff; */
    /* --navbar-color:#fbaaa2; */
    --sidebar-color: hsl(from var(--theame6)h s calc(l + 5));
    --sidebar-hover-color: hsl(from var(--theame6)h s calc(l - 5));
    --sidebar-toggle-color:hsl(from var(--theame7)h s calc(l + 5));
    --sidebar-toggle-hover-color:hsl(from var(--theame7)h s calc(l - 5));
    --navbar-color:hsl(from var(--theame7)h s calc(l + 5));
    --navbar-color-hover:hsl(from var(--theame7)h s calc(l - 5));
    --maincontent-color:#fff;
    --logo-color:rgb(255, 255, 255);
    --save-button-color:hsl(from var(--theame6)h s calc(l + 5));
    --save-button-hover-color:hsl(from var(--theame6)h s calc(l - 5));
    --edit-button-color:#ffc480;
    --delete-button-color:hsl(from var(--theame10)h s calc(l + 5));
    --delete-button-hover-color:hsl(from var(--theame10)h s calc(l - 5));
    --section-color:white;
    --heading-color-b:black;
    --heading-color-g:#6d6c6c;
    --heading-color-w:rgb(255, 255, 255);
    --paragraph-color-b:black;
    --paragraph-color-g:#6d6c6c;
    --paragraph-color-w:rgb(255, 255, 255);
    --anchor-color-b:black;
    --anchor-color-w:rgb(255, 255, 255);


    /* font  */

    --fontFamily-body: "Alata", sans-serif;
    --fontFamily-heading: "Alata", sans-serif;
    --fontFamily-paragraph: "Alata", sans-serif;
    --fontFamily-anchor: "Alata", sans-serif;

     /* font size  */

     --fontSize-body:clamp(1rem, 2vw + 1rem, 1.125rem); 
     --fontSize-h1:clamp(2rem, 2vw + 1rem, 2.5rem); 
     --fontSize-h2:clamp(1.75rem, 2vw + 1rem, 2rem); 
     --fontSize-h3:clamp(1.5rem, 2vw + 1rem, 1.75rem); 
     --fontSize-h4:clamp(1.25rem, 2vw + 1rem, 1.5rem); 
     --fontSize-h5:clamp(1rem, 2vw + 1rem, 1.25rem); 
     --fontSize-h6:clamp(0.813rem, 2vw + 1rem, 1rem); 
     --fontSize-paragraph:clamp(0.75rem, 1.8vw + 1rem, 0.813rem); 
     --fontSize-anchortag:clamp(0.75rem, 1vw, 0.813rem);
     /* --fontSize-anchortag:clamp(0.909rem, 1vw, 1rem);  */
     /* --fontSize-anchortag:clamp(0.917rem, 1vw + 0.25rem, 0.5rem);  */
     --fontSize-small:clamp(0.75rem, 1.8vw + 1rem, 0.813rem); 
     --fontSize-extrasmall:clamp(0.5rem, 1.2vw + 0.5rem, 0.65rem);

     /* radius  */
     --circelRadius:50%;
     --borderRadius:0.7rem;
     --borderRadius-button:0.6rem;

     /* spacing  */

     --large-spacing:3rem;
     --medium-spacing:2rem;
     --small-spacing:1rem;
     --horizontal-spacing:0.7rem 0;
     --horizontal-spacing-small:0.3rem 0;
     --vertical-spacing:0 1.5rem;
     --vertical-spacing-small:0 1.1rem;
  

     /* button spacing  */

     --button-spacing:0.7rem;
     --button-vertical-spacing:0 0.7rem;
     --button-horizontal-spacing:1.6rem 0;

}

html{
    font-family: "Roboto", sans-serif;
    line-height: 1rem;
    /* letter-spacing: 1px; */
    font-weight: 400;
    font-style: normal;
}

/* body  */

body{
    min-width: 100vw;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    /* gap: 0.5rem; */
    /* background: linear-gradient(90deg, rgba(224, 222, 186, 1) 0%, rgba(222, 212, 184, 1) 35%, rgba(129, 155, 166, 1) 100%); */
    background-color: var(--body-color);
}
aside{
    background: var(--sidebar-color);
}
section{
    display: flex;
    flex-direction: column;
    /* gap: 0.3rem; */
}
nav
    {
    background: var(--navbar-color);
    padding: 0.5rem 1rem;
    /* border-radius: 0.1rem; */
   
}
main{
    display: flex;
    flex-direction: column;
    height: 90vh;
    background: var(--maincontent-color);
    padding: 0rem 1rem;
}

svg{
    width: 1rem;
    height: 1rem;
}
span{
    width: 100%;
    height: 1px;
    border-bottom: 3px solid transparent;
    display: block;
}

input{
    background-color: white;
    border: none;
    outline: 1px solid rgb(192, 190, 190);
    width: 100%;
    padding: 1rem;
    color: #6d6c6c;
}

/* heading */

h1{
    font-size: var(--fontSize-h1);
}
h2{
    font-size: var(--fontSize-h2);
}
h3{
    font-size: var(--fontSize-h3);
}
h4{
    font-size: var(--fontSize-h4);
}
h5{
    font-size: var(--fontSize-h5);
}
h6{
    font-size: var(--fontSize-h6);
}

/* paragraph  */

p{
    font-size: var(--fontSize-paragraph);
}

/* anchor  */

a{
    font-size: var(--fontSize-anchortag);
    color:var(--anchor-color-b);
}
button{
    padding: 0.7rem 1rem;
    border: none;
    background: var(--save-button-color);
    color: var(--heading-color-w);
}
button:hover{
    background: var(--save-button-hover-color);
}
label{
    font-size: var(--fontSize-small)
}
/* sidebar  */

.sidebar_container{
    min-height: 100dvh;
    display: flex;
    /* background: var(--sidebar-color); */
}
.sidebar_toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--sidebar-toggle-color);
    padding: 1rem 0.3rem;
}
.sidebar_toggle_top_container svg{
    font-size: 5rem;
}
.sidebar_toggle_top_container :hover{
    background-color:var(--sidebar-toggle-hover-color);
}
.sidebar_toggle_bottom_container :hover{
    background-color:var(--sidebar-toggle-hover-color);
}
.sidebar_toggle_svg_icon{
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--circelRadius);

}
.desktop_hide{
    display: none;
}
.sidebar{
    background: var(--sidebar-color);
    /* background: linear-gradient(90deg, rgba(224, 222, 186, 1) 0%, rgba(222, 212, 184, 1) 35%, rgba(129, 155, 166, 1) 100%); */
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem 0;
    color: var(--anchor-color-w);
   
}
.logo_container{
    display: flex;
    justify-content:left;
    align-items: center;
    /* background-color: aqua; */
    padding: 0 var(--small-spacing);
    gap: 0.7rem;
}
.logo_area{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2rem;
    max-height: 2rem;
}
.logo{
    width: 100%;
    height: 100%;
    /* background-color: #DCCFC0; */
}
.company_name{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #A2AF9B; */
    color: var(--heading-color-b);
}

/* sidebar-main  */

.main{
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: center;
    padding: var(--horizontal-spacing);
    /* background-color: rgb(160, 141, 177); */
    
}
.sidebar_navigation_container{
    min-width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #DCCFC0; */
}
.sidebar_navigation_container :hover{
    background:var(--sidebar-hover-color);
    transition: 0.2s ease-in-out;
}
.sidebar_navigation{
    min-width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem var(--medium-spacing);
    margin: 2px 0;
    /* background-color: bisque; */
    color:var(--heading-color-b);
}
.crown{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.sidebar_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar_navigation_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EEEEEE; */
}
.subheading{
    min-width: 100%;
    display: flex;
    justify-content:left;
    align-items: start;
    border-bottom: 0.01rem solid black;
    /* background-color: aqua; */
     padding: 0.3rem var(--small-spacing);
}
.subheading p{
     font-size: var(--fontSize-extrasmall);
     color: rgb(70, 69, 69);
    
}
/* navbar  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.3rem 0; */
}

/* searchbar  */

.searchbar {
 display: flex;
 line-height: 15px;
 align-items: center;
 position: relative;
 max-width: 300px;
}

.input {
 width: 100%;
 height:35px;
 line-height: 28px;
 padding: 0.7rem;
 padding-left: 2.5rem;
 /* border: 1px solid black; */
 /* border-radius: 8px; */
 /* outline: none; */
 /* background-color: var(--theame2); */
 color:var(--heading-color-b);
 transition: .3s ease;
}

.input::placeholder {
 color: #676769;
}

.input:focus, input:hover {
 outline: none;
 border-color: #fc5286;
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.searchbar_icon {
 position: absolute;
 left: 1rem;
 fill: #676769;
 width: 1rem;
 height: 1rem;
}
/* userdropdown  */
.userdropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: #108ec4; */
}
/* notification  */

 .navbar_svg_icon{
    padding: 0.2rem;
    border-radius: var(--circelRadius);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .navbar_svg_icon:hover{
    background-color: var(--navbar-color-hover);
 }

/* user  */
.user_container button{
    padding: 0;
    margin: 0;
    anchor-name:--profile-button;
    background: var(--theame7);
    
}
.user_popover:popover-open{
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    position-anchor: --profile-button;
    inset: auto;
    top: anchor(bottom);
    right: anchor(center);
    outline: 1px solid var(--theame7);
    border: none;
    padding: 1rem;
    text-align: left;
    margin-block-start: 1rem;
    background: var(--body-color);
    color:var(--paragraph-color-b);
    
}
.user_profile_link{
    padding: 0.7rem 0;
    color: var(--paragraph-color-b);
}
.logout_btn{
    background: var(--theame8);
    padding: 0.5rem 0;
    text-align: center;
    color: var(--heading-color-w);
}
/* main area  */

.main_heading{
    padding: 1.2rem 1rem;
    /* background-color: #9e9ea7; */
}
.main_content{
    display: flex;
    flex-direction: column;
}
.main_content_navigation_tab{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* padding: 0.5rem 0; */
    /* background:var(--sidebar-toggle-color); */
    border-bottom: 0.01rem solid rgb(165, 164, 164);
    
}
.content_navigation_link{
    padding: 0.2rem 1rem;
    color: var(--heading-color-b);
    /* background-color: #cabbbb; */
    border-right: 0.01rem solid rgb(165, 164, 164);
}
.content_navigation_link:hover ~ span {
    background-color: var(--sidebar-hover-color);
}
.main_content_data{
    padding: 0.7rem 1rem;
}
/* setting profile  */

.profile_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.profile_img_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    background:var(--theame7);
}
.profile_img_wrraper img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}
.profile_img_intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.profile_update_btn{
    padding: 0rem;
    anchor-name:--edit-btn;
}
.profile_edit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-color);
    padding: 0;
    margin: 0;
}

.profile_edit_popover_container:popover-open{
    padding: 0.7rem;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    position-anchor:--edit-btn;
    inset: auto;
    bottom: anchor(top);
    left: anchor(right);
    border: none;
    gap: 0.7rem;
}

.profile_edit_btn_container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}
/* .edit_save_btn{
    background: var(--save-button-color);
    color: var(--heading-color-w);
} */
.edit_cancel_btn{
    background: var(--delete-button-color);
    color: var(--heading-color-w);
}
.edit_cancel_btn:hover{
    background: var(--delete-button-hover-color);
}
.input-group .edit_input{
    padding: 0.5rem 0.5rem;
}
.profile_data_container{
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #FAF9EE; */
} 
.profile_name_container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.profile_name_container_wrraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0.7rem;
    padding: 0.7rem;
    gap: 1rem;
    background-color: var(--theame5);

}
.profile_name_head ,.profile_name_data{
    text-align: left;
    padding: 0.3rem;
    /* background-color: bisque; */
}

/* setting password  */

.password_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-container{
    background-color: var(--theame5);
    padding: 1rem;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group input,label{
    padding: 0.8rem 0.5rem;
}
.password_change_btn_container{
    padding: 1rem 0;
}
.change_password_btn{
    background: var(--save-button-color);
    color: var(--heading-color-w);
}
.password_fillup_charactor{
    background: var(--theame7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.password_fillup_charactor p{
    color: var(--heading-color-b);
    padding: 1rem;
}
.password_fillup_charactor_points li{
    list-style-type:disc;
    padding: 0.7rem 0;
    color: var(--heading-color-w);
}

/* setting notification  */

.setting_notification_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
   
}
.setting_notification_edit_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fc5286; */
}
.notification_select_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all_select_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.all_select_box .inp-cbx{
    width: 18px;
    height: 18px;
}
/* .notification_mark_btn button{
    background: var(--theame6);
    color: var(--heading-color-w);
} */
.notification_mark_btn button:nth-child(even){
    background: var(--delete-button-color);
    color: var(--heading-color-w);
}
.notification_mark_btn button:nth-child(even):hover{
    background: var(--delete-button-hover-color);
}


.setting_notifications{
    background: var(--theame5);
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}
.setting_notification_checked_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.7rem;
    /* background-color: #0e4cfd; */
}
.setting_notification_data{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
/* forget-password page  */

.forget_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theame7);
}
.forget_card{
    background-color:var(--body-color);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.forget_icon svg{
    width: 70px;
    height: 70px;
}
.forget_description{
    text-align: center;
    color: var(--paragraph-color-g);
}
.forget_input{
    /* background-color: #6a8eff; */
    width: 100%;
}
.forget_input input{
    padding: 0.7rem 0.5rem;
    width: 100%;
}
.forget_submit_btn{
    width: 100%;
}
.forget_submit_btn button{
    width: 100%;
    background-color: var(--theame6);
    color: var(--heading-color-w);
}

/* setting authentication  */

.authentication_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}
.preferance_subheading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #0e4cfd; */
}

.authentication_left{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.7rem;
    padding: 0.7rem;
    background: var(--theame5);
}

.authentication_left_heading{
    display: flex;
    justify-content: left;
    align-items: center;
    /* flex-direction: column; */
    /* background-color: #0e4cfd; */
    /* gap: 0.3rem; */
}
.authentication_left_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account_delete_btn{
    background-color: var(--delete-button-color);
}
.account_delete_btn:hover{
    background-color: var(--delete-button-hover-color);
}
/* .authentication_btn button{
    background-color: var(--theame6);
    color: var(--heading-color-w);
} */
/* asset capture  */
.asset_capture_container{
    min-height: 75vh;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.7rem;
}

.asset_capture_sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--sidebar-color);
}
.asset_capture_sidebar a:hover{
    background-color: var(--sidebar-hover-color)
}
.asset_capture_main_contain{
    display: grid;
    grid-template-columns: 1fr;
    background:var(--theame5);
    padding: 1rem;
}
.hardware_capture_input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    /* background-color: #6a8eff; */
}
/* .hardware_capture_input_filed_container input{
    padding: 1rem;
    width: 100%;
    color: #6d6c6c;
} */
.input_field_dropdown{
     padding: 1rem;
     width: 100%;
     color: #6d6c6c;
}
/* .hardware_capture_input button{
    /* padding: 1rem; */
    /* width: 100%;
    background:var(--theame6);
    color: var(--heading-color-w);
} */
/* .corelicense_capture_filed_container{
    display: grid;
    grid-template-columns: 1fr;
} */
.corelicense_capture_sidebar_container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    min-height: 70vh;
    /* background-color: #759bff; */
}
/* .drop{
    display: flex;
    justify-content: end;
    display: block;
    text-align: right;
}
.drop:hover {
    display: block;
} */

/* clients  */

/* .table-container{
    background-color: #676769;
} */


.table{
    width: 100%;
     border-collapse: collapse;
    /* border: 1px solid black; */
}
.table thead tr th{
    padding: 8px 5px;
    border: 1px solid #dee2e685;
    /* background-color: var(--theame7); */
}

.table thead tr{
    font-size: 0.7rem;
    /* font-weight:medium; */
    letter-spacing: 0.35px;
    color: #000000;
    opacity: 1;
    /* font-weight: 600; */
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}
.table tbody tr td{
    font-size:0.8rem;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #0e0e0e;
    background-color: var(--theame1);
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}
.client_add_input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
/* .client_capture_input_filed_container input{
    width: 100%;
    padding: 1rem;
} */
.client_overview_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.clientoverview{
    /* background-color: #0e4cfd; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* supplier  */
.supplier_overview_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.supplier_add_input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

/* teams  */

.team_add_input{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

/* classifications  */

.classsification_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
}
.classsification_add_navbar_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--theame5);
}
.classsification_add_navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.classsification_add_navbar input{
    padding: 0.7rem;
}
.classsification_data_contain{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
}
/* inventory */
.inventory_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
}
.inventory_add_navbar_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    background-color: var(--theame5);
}
.inventory_add_navbar_container_inner_left ,.inventory_add_navbar_container_inner_right,.inventory_add_navbar_container_inner_middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.7rem;
}
.inventory_add_navbar_container_inner_right{
    display: flex;
    justify-content: end;
    align-items: center;
}
.inventory_add_navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7rem;
}
.inventory_add_navbar input{
    padding: 0.7rem;
    
}
.inventory_add_navbar .input_field_dropdown {
    padding:0.7rem;
}
.inventory_container_flex{
    grid-template-columns: auto 1fr;
}
.inventory_overview_container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.Inventoryoverview{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid black; */
    gap: 1rem;
    background-color: var(--sidebar-toggle-color);
}
.inventory_count_head{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.inventory_amt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.inventory_amt_head,.inventory_amt_amt{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
/* .inventory_data_contain_navbar{
    min-height: 60vh;
} */
.inventory_add_navbar_container_coloum_left{
     grid-template-columns: 1fr;
     gap: 0.1rem;
}
.inventory_add_navbar_container_coloum_right{
    min-height: 75vh;
    grid-template-columns: 1fr;

}
.inventory_data_contain_navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 0.7rem;
    padding: 0.7rem;
    background-color: var(--theame5);
}
fieldset{
    display: flex;
    outline: none;
    border: none;
}
fieldset input{
    outline: none;
    border-color: none;
}
fieldset input:focus,input:hover{
    border-color: none;
    /* outline: none; */
}


/* .inventory_add_navbar #useriy{
    width:0;
    
} */

/* Task  */

.task_add_input{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.task_overview_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.taskoverview{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* report  */

.report_add_input{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
/* project  */
.project_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
}
.project_add_navbar_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    background-color: var(--theame5);
}
.project_add_navbar_container_inner_left,.project_add_navbar_container_inner_middle,.project_add_navbar_container_inner_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.7rem;
}
.project_add_navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7rem;
}
.project_add_navbar input{
    padding: 0.7rem; 
}
.project_add_navbar .input_field_dropdown{
    padding: 0.7rem ;
}
/* media mobile  */

@media(max-width:667px){

    body{
        width: 100vw;
        position: relative;
        grid-template-columns: 1fr;
    }
    aside{
        grid-row: 2;
        position:fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        min-width: 100% !important;
        /* height: 40px !important; */
    }
    main{
        display: none;
    }
    .sidebar_container{
        flex-direction: column;
        /* min-width: 100% !important; */
        min-height: 60px !important;
    }
    .sidebar{
        display: none;
    } 
    .sidebar_toggle{
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 0;
        padding: 0;
        min-height: 60px !important;
    }
    .mobile_hide{
        display: none;
    }
    .desktop_hide{
        display:contents;
    } 
}


